@model PaginatedPersonViewModel
@{
    ViewBag.Title = "Указател";
}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3 phonebook-title">Телефонен указател на СофтУни БУДИТЕЛ</h1>
    <div class="input-group search-bar-container">
        <input id="searchInput" type="text" class="form-control" placeholder="Търсене..." />
        <button id="searchBtn" class="btn btn-primary">Търси</button>
        <div id="suggestions" class="dropdown-menu w-100"></div>
    </div>
</div>

<div id="results">
    <partial name="_PeopleTablePartial" model="@Model"/>
</div>
