@model PaginatedPersonViewModel
@{
    ViewBag.Title = "Указател";
}
<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-5 p-3">
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <div class="d-flex flex-wrap flex-column flex-md-row mb-1">
            <div class="m-2">
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                {
                    <a asp-controller="Admin" asp-action="Create" class="btn btn-success main-button">Добави нов контакт</a>
                }
            </div>
            <div class="m-2">

                <a asp-controller="Admin" asp-action="DeletedIndex" class="btn btn-danger main-button">Виж изтрити</a>
            </div>
            <div class="m-2">
                <a asp-controller="Admin" asp-action="UserRoles" class="btn btn-outline-primary main-button mb-2">Потребителски права</a>
            </div>
        </div>
    }

    <div class="input-group search-bar-container mb-2">
        <input id="searchInput" type="text" class="form-control" placeholder="Търсене..." />
        <button id="searchBtn" class="btn btn-primary">Търси</button>
    </div>
</div>



<div id="results">
    <partial name="_PeopleTablePartial" model="@Model" />
</div>
