@model IEnumerable<Person>
@{
    ViewBag.Title = "Указател";
}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">Телефонен указател на организацията</h1>
    <div class="input-group" style="max-width: 300px; position: relative;">
        <input id="searchInput" type="text" class="form-control" placeholder="Търсене..." />
        <button id="searchBtn" class="btn btn-primary">Търси</button>
        <div id="suggestions" class="dropdown-menu w-100"></div>
    </div>
</div>

<div id="results">
    <partial name="_PeopleTablePartial" model="@Model"/>
</div>
