@model IEnumerable<Role>

@{
    ViewBag.Title = "Управление на длъжностите";
}
<h1 class="h3 mb-4">Управление на длъжностите</h1>
<a asp-action="Create" class="btn btn-success">Добави нова длъжност</a>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var role in Model.Where(r => !r.IsDeleted))
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-warning">Редактирай</a>
                <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Изтрий</a>
            </td>
        </tr>
    }
    </tbody>
</table>