@model PaginatedDeletedPersonViewModel
@{
    ViewBag.Title = "Указател";
}
<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-5 p-3">
    <div class="d-flex flex-wrap flex-column flex-md-row mb-1">
        <div class="m-2">
            <a asp-controller="Phonebook" asp-action="Index" class="btn btn-primary main-button">Виж актуални</a>
        </div>
        <div class="m-2">
            <a asp-controller="Admin" asp-action="UserRoles" class="btn btn-outline-primary main-button">Потребителски права</a>
        </div>
    </div>
    <div class="input-group search-bar-container mb-2">
        <input id="searchInputDeleted" type="text" class="form-control" placeholder="Търсене..." />
        <button id="searchBtnDeleted" class="btn btn-primary">Търси изтрити</button>
    </div>
</div>

<h1 class="h3 phonebook-title text-center">Изтрити контакти от СофтУни БУДИТЕЛ</h1>

<div id="resultsDeleted">
    <partial name="_DeletedPeoplePartial" model="@Model" />
</div>